.favorites-container {
    margin-top: 80px;
    background: url(../../assets/my-recipe.jpg);
    height: calc(100vh - 80px) ;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.favorites-container h1 {
    color: #fff;
}
.favorites-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 500px; */
}



.box-favorite-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color: #ffffffab;
    padding: 20px 10px 20px 10px;
}

.box-favorite-container button {
    display: flex;
    flex-direction: column;
}

.box-favorite-container img {
    width: 100px;
}

.edit-button {
    background-color: #3672aa;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

.delete-button {
    background-color: #c53c1a;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}