.favorites-container {
    margin-top: 80px;
}

.box-favorite-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.box-favorite-container button {
    display: flex;
    flex-direction: column;
}

.box-favorite-container img {
    width: 100px;
}

.edit-button {
    background-color: #3672aa;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

.delete-button {
    background-color: #c53c1a;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}