.favorites-container {
    margin-top: 80px;
    background: url(../../assets/my-recipe.jpg);
    min-height: 100vh;
    /* height: calc(100vh - 80px); */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.favorites-container h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    filter: opacity(0.8);
}

.favorites-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}



.box-favorite-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color: #ffffffab;
    padding: 20px 30px 20px 30px;
}

.card-recipe {
    padding: 15px;
    border-bottom: 3px solid rgb(255, 106, 0);
}

.box-favorite-container button {
    display: flex;
    flex-direction: column;
}

.box-favorite-container img {
    width: 100px;
}

.delete-button {
    background-color: #c53c1a;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
}