.home-container {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    background: url(../../assets/background.jpg);
    height: 100vh  ;
    background-repeat: no-repeat;
    background-position: center top;
    /* filter:opacity(0.5); */
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    padding: 15px;
    background-color: rgba(255, 127, 80, 0.784);
    height: fit-content;
    margin-top: 60px;
    /* filter: opacity(0.);8 */
    color: #fff;
    gap: 25px;
    border-radius: 10px;
}

.inner-container button {
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: #bb6060 ;
}