.home-container {
    display: flex;
    justify-content: center;
    background: url(../../assets/background.jpg);
    height: 100vh ;
    background-repeat: no-repeat;
    background-position: center top;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    padding: 15px;
    background-color: rgba(255, 127, 80, 0.784);
    height: fit-content;
    margin-top: 100px;
    color: #fff;
    gap: 25px;
    border-radius: 10px;
}

.home-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    text-decoration: none;
  }